body {
  margin: 0;
  font-family: 'Tw Cen MT',sans-serif;
  text-align: center;
  background-image:  url(ecole.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  
  /* background: linear-gradient(35deg, #CCFFFF, #9b78cd, rgb(204, 204, 255)); */
  color: white;
}
h1{
  font-size: 3.5rem;
  color: black;
  margin-bottom: 2px;
}
p{
  color: rgb(31, 28, 28);
}

form{
max-width: 500px;
background-color: rgb(90,179,151, 0.8);
 /* opacity: 0.5; */
 margin: 20px auto;
 padding-top: 40px;
 border-radius:10px ;
}

label {
  display: block;
  margin-bottom: 8px;
  width: 170px;
  text-align: left;
}

label.light{
  display: inline-block;
}

input:not([type="checkbox"],[type="radio"])
#radio{
  display: inline;
}
input,textarea,select{
  border: none;
  outline-color: #648ab3;
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 30px;
}
.container{
  display: inline-block;
  margin: 0 4px 8px 0;
}
button{
  padding: 15px 30px;
  color: white;
  border: none;
  font-size: 50px;
  border-radius: 5px;
  background-color: green;
  font-size: 18px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
button:hover{
  background-color: rgb(41,120,90);
  
}
